<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid mx-3">
        <a class="navbar-brand" href="{% url 'main' %}">YakutiaExplorer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-lg-between" id="navbarColor01">
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'analytic' %}">Аналитика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'maps' %}">Карты</a>
                </li>
            </ul>
        </div>
        
    </div>
</nav>